@charset "UTF-8";

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    header {
        border: 2px solid black;
    }
    main{
        width: 90vw;
        line-height: 1.5em;
    }
    article p {
        font-weight: bold;
    }
    main::after {
        text-align: center;
        content: "impressão feita através do site de www.github.com/dragon182118";
        text-decoration: overline;
    }

    #img {display: none;}
    .hide {display: none;}
}

@media screen and (min-width: 769px){
    header li {
        background-color: rgb(68, 68, 68);
        color: white;
        display: inline-block;
        padding: 10px;
    }
    header li:hover {
        background-color: #000000;
    }
    #menu {text-align: left; background-color: gray}
    #img {display: none;}
    .hide {display: inline-block;}
    main {
        width: 70vw;
    }
}